<%= form_with(model: organisation, local: true) do |form| %>
  <% if organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>
      <ul>
        <% organisation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# ensure the owning user is sent along; this mirrors the
      controller behaviour and makes it easier to inspect POST payloads
      during development.  the value is filled with `current_user` from the
      view context (inherited from ApplicationController). %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :signing_user %>
    <%= render "application/dropdown", options: @users, label_method: :name, value_method: :id, name: "organisation[signing_user_id]", prompt: "Select Signing User", selected: organisation.signing_user_id, multiple: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
